{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="text-center text-blue fw-bold">Add Stock</h1>
    <form method="post" class="row g-3">
        {% csrf_token %}
        <div class="col-md-12">
            <div class="mb-3">
                <label for="id_product" class="form-label fs-6 text-white">Product:</label>
                {{ form.product }}
            </div>
            <div class="mb-3">
                <label for="id_quantity" class="form-label fs-6 text-white">Quantity:</label>
                {{ form.quantity }}
            </div>
            <div class="mb-3">
                <label for="id_price" class="form-label fs-6 text-white">Price:</label>
                {{ form.price }}
            </div>
            <div class="mb-3">
                <label for="id_alert_threshold" class="form-label fs-6 text-white">Alert Threshold:</label>
                {{ form.alert_threshold }}
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-light">Add Stock</button>
            </div>
        </div>
    </form>
{% endblock %}
