{% extends 'base.html' %}

{% block content %}
<h1 class="text-center text-blue fw-bold">Stock List </h1>
<div class="rounded-box">
    <form method="GET" action="{% url 'view_stock' %}">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-md-4">
                <label for="{{ form.category.id_for_label }}" class="form-label">Category</label>
                {{ form.category }}
            </div>
            <div class="col-md-4">
                <label for="{{ form.brand.id_for_label }}" class="form-label">Brand</label>
                {{ form.brand }}
            </div>
            <div class="col-md-4">
                <label for="{{ form.color_code.id_for_label }}" class="form-label">Color Code</label>
                {{ form.color_code }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Search</button>
    </form>
</div>

<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">Color Name</th>
                        <th scope="col" class="text-center">Category</th>
                        <th scope="col" class="text-center">Brand</th>
                        <th scope="col" class="text-center">Color Code</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col" class="text-center">Price</th>
                        <th scope="col" class="text-center">Activity</th>
                       
                    </tr>
                </thead>
                <tbody>
                    {% if stock %}
                        {% for stocks in stock %}
                            <tr>
                                <td class="text-center">{{ stocks.product.color_name }}</td>
                                <td class="text-center">{{ stocks.product.category }}</td>
                                <td class="text-center">{{ stocks.product.brand }}</td>
                                <td class="text-center">{{ stocks.product.color_code }}</td>
                                <td class="text-center">{{ stocks.quantity }}</td>
                                <td class="text-center">{{ stocks.price }}</td>
                                <td class="text-center">
                                    <a href="{% url 'update_Stock' stocks.id %}" class="btn btn-primary">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    
                                </td>
                                
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row mt-3 ">
    <div class="col ">
        <a class="btn btn-info" href="{% url 'add_Stock'  %}" role="button">Add Stock </a>
    </div>
</div>
{% endblock %}
