{% extends 'base.html'%}
{% block content %}
<h1 class="text-center text-blue fw-bold">User List</h1>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="text-center">Username</th>
                        <th scope="col" class="text-center">Email</th>
                        <th scope="col" class="text-center">First Name</th>
                        <th scope="col" class="text-center">Last Name</th>
                        <th scope="col" class="text-center"> Phone Number</th>
                        
                        <th scope="col" class="text-center">Admin</th>
                        <th scope="col" class="text-center">Satff</th>
                        <th scope="col" class="text-center">Activity</th>
                        
                
                       
                    </tr>
                </thead>
                <tbody>
                    {% if user %}
                        {% for users in user %}
                            <tr>
                                <td class="text-center">{{ users.id }}</td>
                                <td class="text-center">{{ users.username  }}</td>
                                <td class="text-center">{{ users.email   }}</td>
                                <td class="text-center">{{ users.first_name  }}</td>
                                <td class="text-center">{{ users.last_name  }}</td>
                                {% if users.userprofile %}
                                <td class="text-center">{{ users.userprofile.phone_number }}</td>
                                {% else %}
                                <td class="text-center">Nill</td>
                                {% endif %}
                                <td class="text-center">{% if users.is_superuser %} Yes {% else %} No {% endif %}</td>
                                <td class="text-center">{% if users.is_staff %} Yes {% else %} No {% endif %}</td>
                                <td class="text-center">
                                    
                                    <a href="{% url 'modify_user' users.id %}" class="btn btn-primary">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="{% url 'delete_user' users.id %}" class="btn btn-danger ">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                                
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock  %}